mixin hero
  section(class=[
    'hero',
    attributes['background-color'] && `is-${attributes['background-color']}`
  ])&attributes(_.omit(attributes, 'background-color'))
    .hero-body
      .container
        block

mixin se
  section(class=[
    'section',
    attributes['text-color'] && `has-text-${attributes['text-color']}`,
    attributes['background-color'] && `has-background-${attributes['background-color']}`,
  ])
    .container
      .columns.is-centered
        div(class=`column is-${attributes.size || 7}`)
          block

mixin tt
  h1(class=[
    'title',
    'has-text-centered',
    attributes['text-color'] && `has-text-${attributes['text-color']}`,
    attributes.spaced && 'is-spaced',
    attributes.size && `is-${attributes.size}`
  ])&attributes(_.omit(attributes, 'text-color', 'spaced', 'size'))
    block

mixin st
  h2(class=[
    'subtitle',
    'has-text-centered',
    attributes['text-color'] && `has-text-${attributes['text-color']}`,
    attributes['size'] && `is-${attributes.size}`
  ])&attributes(_.omit(attributes, 'size', 'text-color'))
    block

mixin co
  article.content.is-medium&attributes(attributes)
    block
