mixin header
  mj-section&attributes(_.omit(attributes, 'spaced'))
    mj-column
      mj-image(
        width='110'
        src=s('img/logo-online_commissioner_tran_blk-2x1.png')
      )/
      mj-text(
        mj-class='h2'
        padding-bottom=(attributes.spaced ? '10px' : '0')
        color='#546E7A'
      ).
        Hello #{email_tags[email_sys].fname} #{email_tags[email_sys].lname}
      mj-text(mj-class='h1' padding-top="0")
        block
